.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.navbar-logo {
  color: #2c3e50;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 80px;
  padding: 0 1rem;
}

.nav-link {
  color: #2c3e50;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  position: relative;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 25px;
  left: 0;
  background-color: #3498db;
  transition: width 0.3s ease;
}

.nav-link:hover:after {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    padding: 0 30px;
  }
  
  .nav-menu {
    display: none;
  }
}
